<div class="container-fluid">
  <div class="row blog-feature">
    <div class="blog-feature__image">
      <a href="{{ article.url }}">
      {% if article.image %}
        {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
        {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
          <img id="{{ img_id }}"
            src="{{ article.image | img_url: '1024x' }}"
            alt="">
      {% endif %}
      </a>
    </div>
    <div class="blog-feature__content">
      <div class="content">
        <a
          href="/blog/the-dstld-guide-to-styling-different-blue-jean-washes">
          <h1 class="blog-feature__title">{{ article.title | escape }}</h1>
        </a>
        <p class="blog-feature__date">{{ article.published_at | time_tag: format: 'month_day_year' }}</p>
        <div class="blog-feature__lead">
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
          {% else %}
            {{ article.content | strip_html | truncate: 150 }}
          {% endif %}
        </div>
        <a class="read-more" href="{{ article.url }}">
          Read More
          <img
            src="//cdn.shopify.com/s/files/1/0054/9450/5546/files/icon-arrow-right-alt-30ee5e014fe54fc436873d6305f0caf5.png?4020"
            alt="Icon arrow right alt">
        </a>
      </div>
    </div>
  </div>
</div>