<ul class="list--inline pagination">
  {% if paginate.current_page != 1 %}
    <li>
      <a href="{{ paginate.parts[0].url }}" class="btn btn--tertiary btn--narrow">
        &laquo;
      </a>
    </li> 
  {% endif %} 
  {% if paginate.previous.is_link %}
    <li>
      <a href="{{ paginate.previous.url }}" class="btn btn--tertiary btn--narrow">
        &lsaquo;
      </a>
    </li>
  {% endif %}

  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      <li>
        <a href="{{ part.url }}"  class="btn btn--tertiary btn--narrow">
          {{ part.title }}
        </a>
      </li>
    {%- else -%}
      {%- if part.title == paginate.current_page -%}
        <li class="active" aria-current="page">
          <span class="btn btn--tertiary active btn--narrow">{{ part.title }}</span>
        </li>
      {%- else -%}
        <li>
          <span class="visuallyhidden px-1" >&middot;&middot;&middot;</span>
        </li>
      {%- endif -%}
    {%- endif -%}
{%- endfor -%}

  {% if paginate.next.is_link %}
    <li>
      <a href="{{ paginate.next.url }}" class="btn btn--tertiary btn--narrow">
        &rsaquo;
      </a>
    </li>
  {% endif %}
  {% if paginate.current_page != paginate.pages %}
  {% assign pageIndex = paginate.pages | minus: 1 %}
    <li>
      <a href="{{ paginate.parts[pageIndex].url }}" class="btn btn--tertiary btn--narrow">
        &raquo;
      </a>
    </li>
  {% endif %}
</ul>
