{%- assign social_icons = false -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

<footer class="container-fluid">
  <div class="row">
    <div class="main-footer col-12 col-md-6" >
      <div class="footer-nav text-left">
        <div class="row">
          <div class="col-12 col-offset-1 footer-menu">
            {% for link in linklists['footer'].links %}
              <div class="col-6 col-md-4 float-left">
                <h4 class="footer-link-header">{{ link.title }}</h4>
                {% for childLink in link.links %}
                  <a href="{{ childLink.url }}">{{ childLink.title }}</a><br>
                {% endfor %}
              </div>
            {% endfor %}
            <div class="col-6 col-md-4 float-left">
              <h4 class="footer-link-header">Connect</h4>
              {%- if social_icons -%}
                {%- if settings.social_facebook_link != blank -%}
                  <a href="{{ settings.social_facebook_link | escape }}" target="_blank">Facebook</a><br>
                {%- endif -%}
                {%- if settings.social_twitter_link != blank -%}
                  <a href="{{ settings.social_twitter_link | escape }}" target="_blank">Twitter</a><br>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <a href="{{ settings.social_pinterest_link | escape }}" target="_blank">Pinterest</a><br>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <a href="{{ settings.social_instagram_link | escape }}" target="_blank">Instagram</a><br>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <a href="{{ settings.social_tumblr_link | escape }}" target="_blank">Tumblr</a><br>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <a href="{{ settings.social_snapchat_link | escape }}" target="_blank">Snapchat</a><br>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <a href="{{ settings.social_youtube_link | escape }}" target="_blank">Youtube</a><br>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <a href="{{ settings.social_vimeo_link | escape }}" target="_blank">Vimeo</a><br>
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        </div>
        <br>
        <div class="btn-to-top mobile-only">
          <a class="btn btn-default" onClick="scrollToTop()">
            <span
              class="fa fa-angle-up"></span>
          </a>
        </div>
      </div>
    </div>
  {% unless customer %}
    <div class="col-12 col-md-6 desktop-only">
      <div class="footer-email-signup">
        <form onSubmit="emailSignup()">
          <p class="big text-left">Sign up for 10% off your first order.</p>
          <div class="form-group row">
            <div class="col-md-8 col-6 email-col">
              <input
                class="form-control underline"
                name="email" placeholder="Email" type="email" required="required">
            </div>
            <div class="col-md-2 col-3 gender-col">
              <div id="gender-choice-footer">
                <div class="col-12 gender-col">
                  <input
                    class="gender-radio male-radio" id="gender-radio2"
                    name="gender_email_signup" type="radio"
                    value="Male">
                  <label class="gender-label male-label" data-tooltip="male"
                    for="gender-radio2">Mens</label>
                </div>
                <div class="col-12 gender-col">
                  <input
                    class="gender-radio female-radio"
                    id="gender-radio1" name="gender_email_signup"
                    type="radio" value="Female">
                  <label class="gender-label female-label"
                    data-tooltip="female" for="gender-radio1">Womens</label>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-12 signup-col">
              <input class="btn btn-black btn-block"
                id="signup-footer" type="submit"
                value="Signup" disabled="disabled">
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
        <div class="privacy-notice grey-text">By providing your email address, you agree to our <a class="underline"
            href="/pages/privacy">Privacy Policy</a> and <a class="underline"
            href="/pages/terms">Terms of Service</a></div>
      </div>
      <div class="clearfix"></div>
    </div>
  {% endunless %}
  </div>
</footer>


{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Zahlungsarten",
        "en": "Payment methods",
        "es": "Métodos de pago",
        "fr": "Moyens de paiement",
        "it": "Metodi di pagamento",
        "ja": "お支払い方法",
        "nl": "Betaalmethoden",
        "pt-BR": "Formas de pagamento",
        "zh-CN": "支付方式",
        "zh-TW": "付款方式"
      }
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "nl": "Betalingspictogrammen weergeven",
        "pt-BR": "Exibir ícones de pagamento",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "de": "Farbe",
        "en": "Color",
        "es": "Color",
        "fr": "Couleur",
        "it": "Colore",
        "ja": "色",
        "nl": "Kleur",
        "pt-BR": "Cor",
        "zh-CN": "颜色",
        "zh-TW": "顏色"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": {
        "de": "Schriftfarbe",
        "en": "Background",
        "es": "Fondo",
        "fr": "Couleur de fond",
        "it": "Sfondo",
        "ja": "背景",
        "nl": "Achtergrond",
        "pt-BR": "Plano de fundo",
        "zh-CN": "背景",
        "zh-TW": "背景"
      },
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#3d4246"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "nl": "Menu",
        "pt-BR": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "nl": "Kop",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fr": "Liens rapides",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "nl": "Snelle links",
            "pt-BR": "Links rápidos",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "nl": "Menu",
            "pt-BR": "Menu",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "nl": "Kop",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "de": "Reden Sie über Ihr Unternehmen",
            "en": "Talk about your business",
            "es": "Habla sobre tu negocio",
            "fr": "Parlez de votre entreprise",
            "it": "Parla della tua attività commerciale",
            "ja": "あなたのビジネスについて語る",
            "nl": "Vertel over uw bedrijf",
            "pt-BR": "Fale sobre o seu negócio",
            "zh-CN": "谈论您的业务",
            "zh-TW": "描述您的商家"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "de": "<p>Teilen Sie Ihre Shop-Details, Werbeaktionen oder Markeninhalte mit Ihren Kunden.</p>",
            "en": "<p>Share store details, promotions, or brand content with your customers.</p>",
            "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
            "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients.</p>",
            "it": "<p>Condividi dettagli del negozio, promozioni o contenuti del brand con i clienti.</p>",
            "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する。</p>",
            "nl": "<p>Deel winkeldetails, promoties of merkinhoud met uw klanten.</p>",
            "pt-BR": "<p>Compartilhe detalhes da loja, promoções ou conteúdo da marca com seus clientes.</p>",
            "zh-CN": "<p>与您的客户共享商店详细信息、促销信息或品牌内容。</p>",
            "zh-TW": "<p>與顧客分享商店的詳細資訊、宣傳活動或品牌內容。</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fr": "Inscription",
        "it": "Iscriviti alla Newsletter",
        "ja": "メールマガジンの登録",
        "nl": "Nieuwsbriefaanmelding",
        "pt-BR": "Assinatura da newsletter",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "nl": "Kop",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "info": {
            "de": "Abonnenten werden zu Ihrer \"akzeptiert Marketingmaterial\"-Liste hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu lista \"acepta marketing\"[lista de clients.](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing ».",
            "it": "Gli iscritti verranno aggiunti al tuo [elenco clienti](/admin/customers?query=&accepts_marketing=1) “Accetta marketing”.",
            "ja": "購読者は「マーケティングを受け入れる」[顧客リスト](/admin/customers?query=&accepts_marketing=1)に追加されます。",
            "nl": "Abonnees worden toegevoegd aan uw \"accepteert marketing\" [klantenlijst.](/admin/customers?query=&accepts_marketing=1)",
            "pt-BR": "Os assinantes serão adicionados à sua lista de pessoas que “aceitam marketing” [lista de clientes.](/admin/customers?query=&accepts_marketing=1)",
            "zh-CN": "订阅者将被添加到您的“接受营销”部分 [客户列表。](/admin/customers?query=&accepts_marketing=1)",
            "zh-TW": "系統會將訂閱者新增至您的「接受行銷」[顧客清單。](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fr": "Newsletter",
            "it": "Newsletter",
            "ja": "メールマガジン",
            "nl": "Nieuwsbrief",
            "pt-BR": "Newsletter",
            "zh-CN": "新闻通讯",
            "zh-TW": "電子報"
          }
        }
      ]
    }
  ]
}
{% endschema %}