<div class="navbar">
  <div class="container-fluid desktop-only">
    <div class="row">
      <div class="navbar-header">
        <div class="navbar-brand-centered">
          <a href="/" class="logo black-logo">
            {% include 'logo-container', image: section.settings.logo_url, width: '160px', height: '50px', alt: 'Logo Black' %}
          </a>
        </div>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav ">
          {% for link in linklists['main-left-menu-1'].links %}
            <li class="dropdown">
              <a class="nav-bold" href="{{ link.url }}">{{ link.title }}</a>
              <div class="container">
                <ul class="dropdown-menu row">
                  {% for subLink in linklists[link.title].links %}
                    <div class="menu-column">
                      {% for childLink in subLink.links %}
                        <li>
                          <a title="{{ childLink.title }}" href="{{ childLink.url }}"><h4>{{ childLink.title }}</h4></a>
                        </li>
                        {% for grandChildLink in childLink.links %}
                          <li>
                            <a title="{{ grandChildLink.title }}" href="{{ grandChildLink.url }}"><strong>{{ grandChildLink.title }}</strong></a>
                          </li>
                        {% endfor %}
                      {% endfor %}
                    </div>
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% endfor %}
          {% assign aboutLink = linklists['about'] %}
          <li class="dropdown">
            <a class="nav-bold" href="{{ aboutLink.url }}">{{ aboutLink.title }}</a>
            <div class="container">
              <ul class="dropdown-menu about row">
                  <div class="menu-column">
                    {% for grandChildLink in aboutLink.links %}
                      <li>
                        <a title="{{ grandChildLink.title }}" href="{{ grandChildLink.url }}"><strong>{{ grandChildLink.title }}</strong></a>
                      </li>
                    {% endfor %}
                  </div>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if customer %}
            <li class="dropdown " ><a class="dropdown-toggle" ng-href="/account"
                href="/account"><span>Account</span></a>
              {% for link in linklists['account'].links %}
                <li> 
                  <a title="{{ childLink.title }}" href="{{ childLink.url }}">{{ childLink.title }}</a>
                </li>
              {% endfor %}
            </li>
            {%- comment -%}
            <li class="investor-badge"><a alt="Investor Portal"
              href="/investor"><span><i class="fa fa-line-chart" title="Investor Portal">&nbsp;</i></span></a></li>
            {%- endcomment -%}
          {% else %}
            <li class="" ><a onclick="showUserModal()">Signup</a></li>
            <li class="" ><a onclick="showUserModal('login')">Login</a></li>
          {% endif %}
          {% if cart.item_count > 0 %}
            <li>
              <a onclick="openCart()">
                <span class="ng-binding ">
                  <i class="fa fa-lg fa-shopping-cart" title="Cart"></i>({{ cart.item_count }})
                </span>
              </a>
            </li>
            <li ng-show="!isCartEmpty() &amp;&amp; oneShirt()" class="">
              <a ng-click="openCart()" ng-disabled="updatingAmount == true"><span>Checkout</span></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid mobile-only text-center">
    <div class="row">
      <a class="no-padding col-2" id="mobile-hamburger-btn">
        <i class="fa fa-bars"></i>
      </a>
      <div class="col-8">
        <a href="/" class="logo black-logo">
          {% include 'logo-container', image: section.settings.logo_url, width: '160px', height: '50px', alt: 'Logo Black' %}
        </a>
      </div>
      {% if cart.item_count > 0 %}
        <a class="no-padding col-2 text-right" id="mobile-cart-trigger" onclick="openCart()" side="right" style="">
          <i class="fa fa-shopping-cart"></i>
          <span class="" style="">({{ cart.item_count }})</span>
        </a>
      {% endif %}
    </div>
  </div>
  <div id="sidebar-modal" class="tab-container mobile-sidebar mobile-only" >
    <button type="button" class="modal__close js-modal-close text-link">
      {% include 'icon-close' %}
    </button>
    <ul class='etabs'>
      {% for link in linklists['main-left-menu-1'].links %}
          <li class='tab'><a href="#{{ link.title }}">{{ link.title }}</a></li>
      {% endfor %}  
    </ul>
    {% for link in linklists['main-left-menu-1'].links %}
      <div id="{{ link.title }}" class="mobile-menu-column">
        {% for subLink in linklists[link.title].links %}
          <ul>
            {% for childLink in subLink.links %}
              <li class="mobile-menu-list-item mobile-menu-list-item__title">
                <a title="{{ childLink.title }}" href="{{ childLink.url }}">{{ childLink.title }}</a>
              </li>
              {% for grandChildLink in childLink.links %}
                <li class="mobile-menu-list-item">
                  <a title="{{ grandChildLink.title }}" href="{{ grandChildLink.url }}">{{ grandChildLink.title }}</a>
                </li>
              {% endfor %}
            {% endfor %}
            {% assign aboutLink = linklists['about'] %}
            {% for childLink in aboutLink.links %}
              <li class="mobile-menu-list-item mobile-menu-list-item__title">
                <a title="{{ childLink.title }}" href="{{ childLink.url }}">{{ childLink.title }}</a>
              </li>
            {% endfor %}
            <li class="mobile-menu-list-item mobile-menu-list-item__title">
              <a title="login" href="/login">Join / Login</a>
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

{% javascript %}
  $('#sidebar-modal .modal__close').on('click', function() {
    $('#sidebar-modal').removeClass('show');
    $('body').css('overflow', 'auto');
  });
  $('#mobile-hamburger-btn').on('click', function() {
    $('#sidebar-modal').addClass('show');
    $('body').css('overflow', 'hidden');
  });
{% endjavascript %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_url",
      "label": "Logo URL"
    }
  ]
}
{% endschema %}
