<div class="product-template__container"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  <div class="text-left collections-breadcrumb page-width desktop-only mx-40 mb-20">
    {% assign prodCollection = product.collections['men'] %}
    <a href="{{ prodCollection.url }}" class="collection-link">
      {{ prodCollection.title }}
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 desktop-only" id="pdp-desktop-flexslider">
        <ul class="slides">
        {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
        {% for image in product.images %}
          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_1024x.' -%}
          <li data-thumb="{{ img_url }}">
            <img id="{{ img_id }}"
              class="feature-row__image"
              src="{{ image | img_url: '1024x' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              tabindex="-1"
              alt="{{ image.alt | escape }}">
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-12 mobile-only no-padding">
          <i class="fa fa-expand pdp-mobile-zoomCtrl" aria-hidden="true"></i>
          <div id="pdp-mobile-flexslider" class="pdp-mobile-flexslider loading">
          {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
          {% for image in product.images %}
            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_2048x.' -%}
    
            <div class="feature-row" data-thumb="{{ img_url }}">
              <img id="{{ img_id }}"
                class="feature-row__image"
                src="{{ image | img_url: '1024x' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                tabindex="-1"
                alt="{{ image.alt | escape }}">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 mobile-only mobile-zoom-container hidden">
        <i class="fa fa-compress pdp-mobile-zoomCtrl" aria-hidden="true"></i>
        <img
          class="mobile-zoomviewer-image"
          tabindex="-1"
        />
      </div>
      <div class="col-12 col-md-6 no-padding product-details-section">
        <div class="px-3">
          <div class="product-single__meta">
            <h1 class="product-single__title">{{ product.title }}</h1>

            <h4 class="product__price">
              {{ price | money }}
            </h4>

            <div class="product__compare_at_price">
              Traditional Retail: {{ compare_at_price | money }}
            </div>

            {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}
              
              <!-- <div class="pdp-swatches">
                {% for link in linklists['main-left-menu-1'].links %}
                  <div class="pdp-swatches__option">
                    <a title="Jet Black">
                      <img
                        src="https://d4zpg1jklewne.cloudfront.net/steak/products/mens-french-terry-zip-hoodie-in-jet-black/swatch-blk/swatch.jpg?1552348264">
                    </a>
                  </div>
                {% endfor %}
              </div> -->
              <div class="pdp-props-wrapper">
              </div>
              <input type="hidden" name="id" id="product-variant-id" />
             
              <!-- Fit Guide Modal -->
              <div class="pdp-fitguide-modelbox">
                <a class="size_finder" href="#">{{ section.settings.fit_guide_title }}</a>
                {% if product.metafields.accentuate.fit_guide_summary %}
                  <div class="modelbox">{{ product.metafields.accentuate.fit_guide_summary }}</div>
                {% endif %}
              </div>

              <!-- Add to Cart CTA -->
              <div class="pdp-cta">
                {% if current_variant.available %}
                  <div class="add-to-cart">
                    <button type="submit" class="btn btn--raised btn-black btn-block btn-add-to-cart">{{ section.settings.add_to_cart_btn_title }}</button>
                    <div class="btn btn--raised btn-black btn-block btn-add-to-cart btn-adding-to-cart disabled hidden">Adding To Cart...<div class="cart-loading"></div>
                  </div>
                {% endif %}
                {% unless current_variant.available %}
                  <div class="add-to-cart">
                    <div class="btn btn-black btn-block btn-add-to-cart">Exceeds Available Stock</div>
                  </div>
                {% endunless %}
                {% unless current_variant.available %}
                  <div class="add-to-cart">
                    <div class="btn btn-black btn-block btn-add-to-cart">Waitlist</div>
                  </div>
                {% endunless %}
              </div>
              <p>100% Guaranteed Fit. Free US Shipping + Returns.</p>
            {% endform %}

            <!-- FitGuide Modal -->
            <div class="pdp-modal pdp-fitguide-modal">
              <button type="button" class="modal__close js-modal-close text-link">
                {% include 'icon-close' %}
              </button>
              <div class="fit-guide">
                <h3 class="pdp-content__name">{{ section.settings.fit_guide_title }}</h3>
                <h4>{{ product.title }}</h4>
                <ul class="nav nav-tabs">
                  <li><a data-id="0" href="#" class="active">US</a></li>
                  <li ><a data-id="1" href="#">International</a></li>
                </ul>
                <div class="tab-content">
                  {% for tag in product.tags %}
                    {% if tag == 'men' %}
                      {% assign isGenderMen = true %}
                      {% break %}
                    {% else %}
                      {% assign isGenderMen = false %}
                    {% endif %}
                  {% endfor %}
                  <div class="tab-content__item active">
                    <img class="size-chart"
                      src="{{ product.metafields.accentuate.fitguide_image }}">
                    {% unless isGenderMen %}
                      <div class="womens-size-conversion">
                        <table class="international-size-chart">
                          <tbody>
                            <tr>
                              <td>Pants Size</td>
                              <td>00</td>
                              <td>0</td>
                              <td>2</td>
                              <td>4</td>
                              <td>6</td>
                              <td>8</td>
                              <td>10</td>
                              <td>12</td>
                            </tr>
                            <tr>
                              <td>DSTLD Size</td>
                              <td>&nbsp;24/0&nbsp;</td>
                              <td>&nbsp;25/2&nbsp;</td>
                              <td>&nbsp;26/4&nbsp;</td>
                              <td>&nbsp;27/6&nbsp;</td>
                              <td>&nbsp;28/8&nbsp;</td>
                              <td>&nbsp;29/10&nbsp;</td>
                              <td>30/31 12/14</td>
                              <td>&nbsp;32/16&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    {% endunless %}
                  </div>
                  <div class="tab-content__item">
                    <div class="international-size-chart-wrapper {% unless isGenderMen %} womens-chart {% endunless %}">
                      {% if isGenderMen %}
                        <table class="international-size-chart">
                          <tbody>
                            <tr>
                              <td>mens</td>
                              <td>xs</td>
                              <td>s</td>
                              <td>m</td>
                              <td>l</td>
                              <td>xl</td>
                            </tr>
                            <tr>
                              <td>european (EU)</td>
                              <td>44</td>
                              <td>46</td>
                              <td>48</td>
                              <td>50</td>
                              <td>52</td>
                            </tr>
                            <tr>
                              <td>french (FR)</td>
                              <td>44</td>
                              <td>46</td>
                              <td>48</td>
                              <td>50</td>
                              <td>52</td>
                            </tr>
                            <tr>
                              <td>italian (IT)</td>
                              <td>44</td>
                              <td>46</td>
                              <td>48</td>
                              <td>50</td>
                              <td>52</td>
                            </tr>
                            <tr>
                              <td>UK/US chest</td>
                              <td>34</td>
                              <td>36</td>
                              <td>38</td>
                              <td>40</td>
                              <td>42</td>
                            </tr>
                            <tr>
                              <td>UK/US waist</td>
                              <td>28</td>
                              <td>30</td>
                              <td>32</td>
                              <td>34</td>
                              <td>36</td>
                            </tr>
                          </tbody>
                        </table>
                      {% else %}
                        <table class="international-size-chart international-size-chart__womens">
                          <tbody>
                            <tr>
                              <th>US</th>
                              <th>00</th>
                              <th>0</th>
                              <th>2-4</th>
                              <th>4-6</th>
                              <th>8</th>
                              <th>10</th>
                              <th>12</th>
                            </tr>
                            <tr>
                              <td>UK</td>
                              <td>4</td>
                              <td>6</td>
                              <td>8</td>
                              <td>10</td>
                              <td>12</td>
                              <td>14</td>
                              <td>16</td>
                            </tr>
                            <tr>
                              <td>Italy</td>
                              <td>36</td>
                              <td>38</td>
                              <td>40</td>
                              <td>42</td>
                              <td>44</td>
                              <td>46</td>
                              <td>48</td>
                            </tr>
                            <tr>
                              <td>France</td>
                              <td>32</td>
                              <td>34</td>
                              <td>36</td>
                              <td>38</td>
                              <td>40</td>
                              <td>42</td>
                              <td>44</td>
                            </tr>
                            <tr>
                              <td>Denmark</td>
                              <td>30</td>
                              <td>32</td>
                              <td>34</td>
                              <td>36</td>
                              <td>38</td>
                              <td>40</td>
                              <td>42</td>
                            </tr>
                            <tr>
                              <td>Germany</td>
                              <td>30</td>
                              <td>32</td>
                              <td>34</td>
                              <td>36</td>
                              <td>38</td>
                              <td>40</td>
                              <td>42</td>
                            </tr>
                            <tr>
                              <td>Australia</td>
                              <td>4</td>
                              <td>6</td>
                              <td>8</td>
                              <td>10</td>
                              <td>12</td>
                              <td>14</td>
                              <td>16</td>
                            </tr>
                            <tr>
                              <td>Japan</td>
                              <td>3</td>
                              <td>5</td>
                              <td>7</td>
                              <td>9</td>
                              <td>11</td>
                              <td>13</td>
                              <td>15</td>
                            </tr>
                            <tr>
                              <td>Jeans</td>
                              <td>23</td>
                              <td>24-25</td>
                              <td>26-27</td>
                              <td>27-28</td>
                              <td>29-30</td>
                              <td>31-32</td>
                              <td>32-33</td>
                            </tr>
                            <tr>
                              <td>Size</td>
                              <td>XXS</td>
                              <td>XXS-XS</td>
                              <td>XS-S</td>
                              <td>S-M</td>
                              <td>M-L</td>
                              <td>L-XL</td>
                              <td>XL-XXL</td>
                            </tr>
                          </tbody>
                        </table>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <h3 class="pdp-content__name">{{ section.settings.fit_guide_more_section_title }}</h3>
                <p class="try-multiple-sizes-description">{{ section.settings.fit_guide_more_section_desc }}</p>
              </div>
            </div>
            <!-- Size Find Modal -->
            <div class="pdp-sizeguide-modelbox pdp-fit-links">
              <a href="#">{{ section.settings.size_guide_title }}</a>
            </div>
            <div class="pdp-modal pdp-sizeguide-modal">
              <button type="button" class="modal__close js-modal-close text-link">
                {% include 'icon-close' %}
              </button>
              <div class="fit-guide">
                <h2 class="pdp-content__name mt-0">{{ section.settings.size_guide_modal_title }}</h2>
                <h3>{{ product.title }}</h3>
                <div class="mt-3 mb-3">{{ section.settings.size_guide_modal_top_desc }}</div>
                {% for option in product.options_with_values %}
                  <div class="size-guide-props product-options--option">
                    {% unless option.name == 'Color' %}
                      <div class="optionSelector singleOptionSelector-{{ forloop.index0 }}">
                        Select a {{ option.name }}
                      </div>
                      <ul data-option="{{ option.name }}" class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index0 }}">
                        {% for value in option.values %}
                          <li value="{{ value | escape }}"{% if option.selected_value == value %} class="active" {% endif %}>{{ value }}</li>
                        {% endfor %}
                      </ul>
                      <input type="hidden" name="{{ option.name }}" />
                    {% endunless %}
                  </div>
                {% endfor %}
                <div>
                  <div class="optionSelector">Comments</div>
                  <textarea class="form-control" rows="3"></textarea>
                  <div class="optionSelector">Enter Your Email</div>
                  <input
                    type="email"
                    name="email" id="email"
                    placeholder="Email"
                    class="form-control"
                    required="required">
                  <input
                    type="hidden"
                    value="product.sku"
                    autocomplete="off">
                  <span class="hidden">A valid email address is required</span>
                </div>
                <div class="mt-4 mb-2 font-weight-normal">{{ section.settings.size_guide_modal_bottom_desc }}</div>
                <div class="text-right">
                  <span class="alert-btn disabled">{{ section.settings.alertbtn_title }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="pdp-tabs" class="tab-container">
          <ul class='etabs'>
            {% for fieldName in product.metafields.accentuate.more_section_fields_name %}
                <li data-id="{{ forloop.index0 }}" class='tab {% if forloop.first == true %}active{% endif %}'><a href="#" class="tab-item">{{ fieldName }}</a></li>
            {% endfor %}  
          </ul>
          {% for fieldValue in product.metafields.accentuate.more_section_fields_content %}
            <div class="tab-panel {% if forloop.first == true %}active{% endif %}">
              {{ fieldValue }}
            </div>
          {% endfor %}  
        </div>

        <div class="col-12 col-md-6 no-padding recent-products text-center">
          <h4 class="section-header text-uppercase hidden">{{ section.settings.recent_products_title }}</h4>
          <div class="recent-products-slick">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="productJson">
    {{ product | json }}
  </script>
  <script>
      
    function singleOptionSelectorHandler (e) {
      var productJson = JSON.parse(document.getElementById('productJson').innerHTML);
      if (e) {
        var target = e.target;
        var optionIndex = $(target).data('option');
        var variantValue = $(target).attr('value');
        selectedVariantOptionsList[optionIndex] = variantValue;
        for ( var k = optionIndex + 1; k < selectedVariantOptionsList.length; k++) {
          selectedVariantOptionsList[k] = undefined;
        }
        var dd = selectedVariantOptionsList.join(' / ');
        $('#product-variant-id').val(dd);
      }

      var variants = productJson.variants || [];
      var filteredVariants = variants.slice();
      var content = '';
      for (var i = 0; i < selectedVariantOptionsList.length; i++) {
        content += '<div class="pdp-props product-options--option"><label for="SingleOptionSelector-' + i + '">' + productJson.options[i] + '</label>';
        content += '<ul class="single-option-selector product-form__input" id="SingleOptionSelector-' + i + '">';
        var uniqOptions = [];
        filteredVariants.forEach(variant => {
          if (uniqOptions.indexOf(variant.options[i]) == -1) {
            uniqOptions.push(variant.options[i]);
          }
        });
        uniqOptions.sort(function(a, b) {return a-b});
        if (selectedVariantOptionsList[i] === undefined) {
          selectedVariantOptionsList[i] = filteredVariants[0].options[i];
        }
        for ( var j = 0; j < uniqOptions.length; j++) {
          var isActive = selectedVariantOptionsList[i] == uniqOptions[j] ? 'active' : '';
          content += '<li onclick="singleOptionSelectorHandler(event)" data-option="' + i + '" class="' + isActive + '" value="' + uniqOptions[j] + '">' + uniqOptions[j] + '</li>';
        }
        filteredVariants = filteredVariants.filter(variant => variant.options[i] === selectedVariantOptionsList[i]);
        content += '</ul></div>';
      }
      $('.pdp-props-wrapper').html(content);
    };

  </script>
{% endunless %}


{% javascript %}

  $(window).load(function() {
    var selectedProductImage = null;
    var _DRAGGGING_STARTED = 0;
    var _LAST_MOUSEMOVE_POSITION = { x: null, y: null };
    var _DIV_OFFSET;
    var _CONTAINER_WIDTH;
    var _CONTAINER_HEIGHT;
    var _IMAGE_WIDTH;
    var _IMAGE_HEIGHT;
    var _IMAGE_LOADED = 0;

    $(".pdp-mobile-flexslider").slick({
      infinite: false,
      dots: true,
    });

    // Product JSON
    var productJson = JSON.parse(document.getElementById('productJson').innerHTML);


    // Recent Prdoucts Modal
    var recentlyProducts = JSON.parse(window.localStorage.getItem('recentlyViewedProducts'));
    if (recentlyProducts == null) recentlyProducts = [];
    var recentProductsContent = '';
    for (var i = 0; i < recentlyProducts.length; i++) {
      recentProductsContent += '<div class="feature-row" ><a href="' + recentlyProducts[i].url + '" ><img class="feature-row__image" src="' + recentlyProducts[i].images[0]+ '"  tabindex="-1" alt="{{ image.alt | escape }}" /></a></div>';
    }
    $(".recent-products-slick").html(recentProductsContent);
    if (recentlyProducts.length > 0) $(".recent-products .section-header").removeClass('hidden');
    $(".recent-products-slick").slick({
      infinite: true,
      dots: false,
      centerMode: true,
      infinite: true,
      centerPadding: "40px",
      slidesToShow: 1,
      speed: 500
    });
    if (productJson) {
      recentlyProducts = recentlyProducts.filter(item => item.id != productJson.id);
      recentlyProducts.push({
        id: productJson.id,
        images: productJson.images,
        url: productJson.url,
      });
    }
    if (recentlyProducts.length > 6) recentlyProducts.shift();
    window.localStorage.setItem('recentlyViewedProducts', JSON.stringify(recentlyProducts));

    $('#pdp-desktop-flexslider').flexslider({
      animation: "slide",
      controlNav: "thumbnails",
      start: function(slider) {
        $('#pdp-desktop-flexslider').removeClass('loading');
        selectedProductImage = $('.pdp-mobile-flexslider [data-slick-index=' + 0 + ']').data('thumb');
        $('.mobile-zoom-container .mobile-zoomviewer-image').attr('src', selectedProductImage);
      },
    });

    $('.pdp-mobile-flexslider').on('afterChange', function(event, slick, currentSlide) {
      selectedProductImage = $('#pdp-mobile-flexslider [data-slick-index=' + currentSlide + ']').data('thumb');
      $('.mobile-zoom-container .mobile-zoomviewer-image').attr('src', selectedProductImage);
    });

    // Open Image Viewer
    $('.fa-expand.pdp-mobile-zoomCtrl').on('click', function() {
      $('.mobile-zoom-container').removeClass('hidden');
      $('body').css('overflow', 'hidden');
       
      _DRAGGGING_STARTED = 0;
      _LAST_MOUSEMOVE_POSITION = { x: null, y: null };
      _DIV_OFFSET = $('.mobile-zoom-container').offset();
      _CONTAINER_WIDTH = window.innerWidth;
      _CONTAINER_HEIGHT = window.innerHeight;
      _IMAGE_LOADED = 0;

      if($('.mobile-zoomviewer-image').get(0).complete) {
        ImageLoaded();
      }
      else {
        $('.mobile-zoomviewer-image').on('load', function() {
          ImageLoaded();
        });
      }
    });

    // Close Image Viewer
    $('.fa-compress.pdp-mobile-zoomCtrl').on('click', function() {
      $('.mobile-zoom-container').addClass('hidden');
      $('body').css('overflow', 'auto');
    });

    // Image is loaded
    function ImageLoaded() {
      _IMAGE_WIDTH = $(".mobile-zoomviewer-image").width();
      _IMAGE_HEIGHT = $(".mobile-zoomviewer-image").height();
      _IMAGE_LOADED = 1;	
    }

    $('.mobile-zoom-container').on('mousedown', function(event) {
      /* Image should be loaded before it can be dragged */
      if(_IMAGE_LOADED == 1) { 
        _DRAGGGING_STARTED = 1;

        /* Save mouse position */
        _LAST_MOUSE_POSITION = { x: event.pageX - _DIV_OFFSET.left, y: event.pageY - _DIV_OFFSET.top };
      }
    });

    $('.mobile-zoom-container').on('mouseup', function() {
      _DRAGGGING_STARTED = 0;
    });

    $('.mobile-zoom-container').on('mousemove', function(event) {
      if(_DRAGGGING_STARTED == 1) {
        var current_mouse_position = { x: event.pageX - _DIV_OFFSET.left, y: event.pageY - _DIV_OFFSET.top };
        var change_x = current_mouse_position.x - _LAST_MOUSE_POSITION.x;
        var change_y = current_mouse_position.y - _LAST_MOUSE_POSITION.y;

        /* Save mouse position */
        _LAST_MOUSE_POSITION = current_mouse_position;

        var img_top = parseInt($(".mobile-zoomviewer-image").css('top'), 10);
        var img_left = parseInt($(".mobile-zoomviewer-image").css('left'), 10);

        var img_top_new = img_top + change_y;
        var img_left_new = img_left + change_x;

        /* Validate top and left do not fall outside the image, otherwise white space will be seen */
        MAX_Y_RANGE = _CONTAINER_HEIGHT - _IMAGE_HEIGHT;
        if(img_top_new > 0)
          img_top_new = 0;
        if(img_top_new < MAX_Y_RANGE)
          img_top_new = MAX_Y_RANGE;
        
        MAX_X_RANGE = _CONTAINER_WIDTH - _IMAGE_WIDTH;
        if(img_left_new > 0)
          img_left_new = 0;
        if(img_left_new < MAX_X_RANGE)
          img_left_new = MAX_X_RANGE;
        $(".mobile-zoomviewer-image").css({ top: img_top_new + 'px', left: img_left_new + 'px' });
      }
    });

    // Product Info Tab
    $('.tab').on('click', function () {
      var index = $(this).data('id');
      $('.tab').removeClass('active');
      $(this).addClass('active');
      $('.tab-panel').removeClass('active');
      $('.tab-panel').eq(index).addClass('active');
    });

    // Fit Guide Modal APIs
    $('.pdp-fitguide-modelbox a').on('click', function() {
      $('.pdp-fitguide-modal').addClass('open');
      $('body').css('overflow', 'hidden');
    });
    $('.pdp-fitguide-modal .modal__close').on('click', function() {
      $('.pdp-fitguide-modal').removeClass('open');
      $('body').css('overflow', 'auto');
    });

    // Size Guide Modal APIs
    $('.pdp-sizeguide-modelbox a').on('click', function() {
      $('.pdp-sizeguide-modal').addClass('open');
      $('body').css('overflow', 'hidden');
    });
    $('.pdp-sizeguide-modal .modal__close').on('click', function() {
      $('.pdp-sizeguide-modal').removeClass('open');
      $('body').css('overflow', 'auto');
    });

    $('.pdp-fitguide-modal .nav-tabs a').on('click', function() {
      var index = $(this).data('id');
      $('.pdp-fitguide-modal .nav-tabs a').removeClass('active');
      $(this).addClass('active');
      $('.tab-content .tab-content__item').removeClass('active');
      $('.tab-content .tab-content__item').eq(index).addClass('active');
    });
    
    // Size Guide Props Selector
    $('.size-guide-props .single-option-selector li').on('click', function() {
      var optionName = $(this).data('option');
      $('.size-guide-props .single-option-selector li').data('option', optionName).removeClass('active');
      $(this).addClass('active');
      $('input[name="' + optionName + '"]').val($(this).attr('value'));
    });
  });

  var productJson = JSON.parse(document.getElementById('productJson').innerHTML);
  selectedVariantOptionsList = new Array(productJson.options.length).fill(undefined);
  
  // Initialize Option Selector
  singleOptionSelectorHandler();

  $('.pdp-props .single-option-selector li').on('click', function (e) {
    singleOptionSelectorHandler(e);
  });
{% endjavascript %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "header",
      "content": "Fit Guide"
    },
    {
      "type": "text",
      "id": "fit_guide_title",
      "label": "Fit Guide Title",
      "default": "Fit Guide"
    },
    {
      "type": "text",
      "id": "fit_guide_more_section_title",
      "label": "More Section Title",
      "default": "Try Multiple Sizes"
    },
    {
      "type": "text",
      "id": "fit_guide_more_section_desc",
      "label": "More Section Description",
      "default": "Unsure about your perfect fit in DSTLD? Audition our denim in the comfort of your home with free shipping and returns."
    },
    {
      "type": "header",
      "content": "Size Guide"
    },
    {
      "type": "text",
      "id": "size_guide_title",
      "label": "Link Title",
      "default": "Can't Find Your Size"
    },
    {
      "type": "text",
      "id": "size_guide_modal_title",
      "label": "Modal Title",
      "default": "Waitlist"
    },
    {
      "type": "text",
      "id": "size_guide_modal_top_desc",
      "label": "Top Description",
      "default": "Tell us your size and we'll notify you when this product becomes available."
    },
    {
      "type": "text",
      "id": "size_guide_modal_bottom_desc",
      "label": "Bottom Description",
      "default": "Select a size and enter your email above."
    },
    {
      "type": "text",
      "id": "alertbtn_title",
      "label": "Alert Btn Title",
      "default": "Alert Me!"
    },
    {
      "type": "header",
      "content": "Add to Cart"
    },
    {
      "type": "text",
      "id": "add_to_cart_btn_title",
      "label": "CTA Btn Title",
      "default": "Add to Cart"
    },
    {
      "type": "text",
      "id": "add_to_cart_desc",
      "label": "Bottom Description",
      "default": "100% Guaranteed Fit. Free US Shipping + Returns."
    },
    {
      "type": "header",
      "content": "Recent Products"
    },
    {
      "type": "text",
      "id": "recent_products_title",
      "label": "Title",
      "default": "Recently Viewed"
    }
  ]
}
{% endschema %}
