<div class="product-template__container"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  <div class="text-left collections-breadcrumb page-width desktop-only mx-40 mb-20">
    {% assign prodCollection = product.collections['men'] %}
    <a href="{{ prodCollection.url }}" class="collection-link">
      {{ prodCollection.title }}
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 desktop-only" id="pdp-desktop-flexslider">
        <ul class="slides">
        {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
        {% for image in product.images %}
          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_1024x.' -%}
          <li data-thumb="{{ img_url }}">
            <img id="{{ img_id }}"
              class="feature-row__image"
              src="{{ image | img_url: '1024x' }}"

              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              tabindex="-1"
              alt="{{ image.alt | escape }}">
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-12 mobile-only no-padding">
          <i class="fa fa-expand pdp-mobile-zoomCtrl" aria-hidden="true"></i>
          <div id="pdp-mobile-flexslider" class="loading">
          {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
          {% for image in product.images %}
            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_2048x.' -%}
    
            <div class="feature-row" data-thumb="{{ img_url }}">
              <img id="{{ img_id }}"
                class="feature-row__image"
                src="{{ image | img_url: '1024x' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                tabindex="-1"
                alt="{{ image.alt | escape }}">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 mobile-only mobile-zoom-container hidden">
        <i class="fa fa-compress pdp-mobile-zoomCtrl" aria-hidden="true"></i>
        <img
          class="mobile-zoomviewer-image"
          tabindex="-1"
        />
      </div>
      <div class="col-12 col-md-6 no-padding">
        <div class="grid__item {{ product_description_width }}">
          <div class="product-single__meta">

            <h1 class="product-single__title">{{ product.title }}</h1>

              <div class="product__price">
                {% include 'product-price', variant: current_variant %}
              </div>

              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__policies rte">
                  {%- if shop.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
              {%- endif -%}

              {% if section.settings.show_quantity_selector %}
                <div id="error-quantity-{{ section.id }}" class="form-message form-message--error product__quantity-error hide" tabindex="-1">
                  {% include 'icon-error' %} {{ 'products.product.quantity_minimum_message' | t }}
                </div>
              {% endif %}

              {% capture "form_classes" -%}
                product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
              {%- endcapture %}

              {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
                    <div class="selector-wrapper js product-form__item">
                      <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                        {% for value in option.values %}
                          <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  {% endfor %}
                {% endunless %}

                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                        {{ variant.title }}
                      </option>
                    {% else %}
                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                  {% endfor %}
                </select>

                {% if section.settings.show_quantity_selector %}
                  <div class="product-form__item product-form__item--quantity">
                    <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                    <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                  </div>
                {% endif %}
                <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
                  <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                    <span id="AddToCartText-{{ section.id }}">
                      {% unless current_variant.available %}
                        {{ 'products.product.sold_out' | t }}
                      {% else %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% endunless %}
                    </span>
                  </button>
                  {% if section.settings.enable_payment_button %}
                    {{ form | payment_button }}
                  {% endif %}
                </div>
              {% endform %}
            </div>

            {%- comment -%}
              Live region for announcing updated price and availability to screen readers
            {%- endcomment -%}
            <p class="visually-hidden" data-product-status
              aria-live="polite"
              role="status"
            ></p>

            <div class="product-single__description rte">
              {{ product.description }}
            </div>

            {% if section.settings.show_share_buttons %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% javascript %}
$(window).load(function() {
    var selectedProductImage = null;
    var _DRAGGGING_STARTED = 0;
    var _LAST_MOUSEMOVE_POSITION = { x: null, y: null };
    var _DIV_OFFSET;
    var _CONTAINER_WIDTH;
    var _CONTAINER_HEIGHT;
    var _IMAGE_WIDTH;
    var _IMAGE_HEIGHT;
    var _IMAGE_LOADED = 0;

    $("#pdp-mobile-flexslider").slick({
      // normal options...
      infinite: false,
      dots: true,
    });

    $('#pdp-desktop-flexslider').flexslider({
      animation: "slide",
      controlNav: "thumbnails",
      start: function(slider) {
        $('#pdp-desktop-flexslider').removeClass('loading');
        selectedProductImage = $('#pdp-mobile-flexslider [data-slick-index=' + 1 + ']').data('thumb');
        $('.mobile-zoom-container .mobile-zoomviewer-image').attr('src', selectedProductImage);
      }
    });

    $('#pdp-mobile-flexslider').on('beforeChange', function(event, slick, currentSlide, nextSlide){
      selectedProductImage = $('#pdp-mobile-flexslider [data-slick-index=' + currentSlide + ']').data('thumb');
      $('.mobile-zoom-container .mobile-zoomviewer-image').attr('src', selectedProductImage);
    });

    // Open Image Viewer
    $('.fa-expand.pdp-mobile-zoomCtrl').on('click', function() {
      $('.mobile-zoom-container').removeClass('hidden');
      $('body').css('overflow', 'hidden');
       
      _DRAGGGING_STARTED = 0;
      _LAST_MOUSEMOVE_POSITION = { x: null, y: null };
      _DIV_OFFSET = $('.mobile-zoom-container').offset();
      _CONTAINER_WIDTH = window.innerWidth;
      _CONTAINER_HEIGHT = window.innerHeight;
      _IMAGE_LOADED = 0;

      if($('.mobile-zoomviewer-image').get(0).complete) {
        ImageLoaded();
      }
      else {
        $('.mobile-zoomviewer-image').on('load', function() {
          ImageLoaded();
        });
      }
    });

    // Close Image Viewer
    $('.fa-compress.pdp-mobile-zoomCtrl').on('click', function() {
      $('.mobile-zoom-container').addClass('hidden');
      $('body').css('overflow', 'auto');
    });

    // Image is loaded
    function ImageLoaded() {
      _IMAGE_WIDTH = $(".mobile-zoomviewer-image").width();
      _IMAGE_HEIGHT = $(".mobile-zoomviewer-image").height();
      _IMAGE_LOADED = 1;	
    }

    $('.mobile-zoom-container').on('mousedown', function(event) {
      /* Image should be loaded before it can be dragged */
      if(_IMAGE_LOADED == 1) { 
        _DRAGGGING_STARTED = 1;

        /* Save mouse position */
        _LAST_MOUSE_POSITION = { x: event.pageX - _DIV_OFFSET.left, y: event.pageY - _DIV_OFFSET.top };
      }
    });

    $('.mobile-zoom-container').on('mouseup', function() {
      _DRAGGGING_STARTED = 0;
    });

    $('.mobile-zoom-container').on('mousemove', function(event) {
      if(_DRAGGGING_STARTED == 1) {
        var current_mouse_position = { x: event.pageX - _DIV_OFFSET.left, y: event.pageY - _DIV_OFFSET.top };
        var change_x = current_mouse_position.x - _LAST_MOUSE_POSITION.x;
        var change_y = current_mouse_position.y - _LAST_MOUSE_POSITION.y;

        /* Save mouse position */
        _LAST_MOUSE_POSITION = current_mouse_position;

        var img_top = parseInt($(".mobile-zoomviewer-image").css('top'), 10);
        var img_left = parseInt($(".mobile-zoomviewer-image").css('left'), 10);

        var img_top_new = img_top + change_y;
        var img_left_new = img_left + change_x;

        /* Validate top and left do not fall outside the image, otherwise white space will be seen */
        console.log(_CONTAINER_HEIGHT, _CONTAINER_WIDTH, _IMAGE_WIDTH, _IMAGE_HEIGHT);
        MAX_Y_RANGE = _CONTAINER_HEIGHT - _IMAGE_HEIGHT;
        if(img_top_new > 0)
          img_top_new = 0;
        if(img_top_new < MAX_Y_RANGE)
          img_top_new = MAX_Y_RANGE;
        
        MAX_X_RANGE = _CONTAINER_WIDTH - _IMAGE_WIDTH;
        if(img_left_new > 0)
          img_left_new = 0;
        if(img_left_new < MAX_X_RANGE)
          img_left_new = MAX_X_RANGE;
        $(".mobile-zoomviewer-image").css({ top: img_top_new + 'px', left: img_left_new + 'px' });
      }
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": {
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fr": "Pages de produits",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "nl": "Productpagina's",
    "pt-BR": "Páginas de produtos",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "select",
      "id": "image_size",
      "label": {
        "de": "Foto-Größe",
        "en": "Image size",
        "es": "Tamaño de la imagen",
        "fr": "Taille des images",
        "it": "Dimensione immagine",
        "ja": "画像のサイズ",
        "nl": "Afbeeldingsformaat",
        "pt-BR": "Tamanho da imagem",
        "zh-CN": "图片尺寸",
        "zh-TW": "圖片尺寸"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fr": "Petite",
            "it": "Piccolo",
            "ja": "小",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediana",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "nl": "Groot",
            "pt-BR": "Grande",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        },
        {
          "value": "full",
          "label": {
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "nl": "Volledige breedte",
            "pt-BR": "Largura completa",
            "zh-CN": "全宽",
            "zh-TW": "完整寬度"
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "de": "Quantitäts-Auswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "nl": "Hoeveelheidskiezer weergeven",
        "pt-BR": "Exibir seletor de quantidade",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": {
        "de": "Varianten-Etiketten anzeigen",
        "en": "Show variant labels",
        "es": "Mostrar etiquetas de variantes",
        "fr": "Afficher le nom des variantes",
        "it": "Mostra etichette varianti",
        "ja": "バリエーションのラベルを表示する",
        "nl": "Variantlabels weergeven",
        "pt-BR": "Exibir etiquetas de variantes",
        "zh-CN": "显示变体标签",
        "zh-TW": "顯示子類選項標籤"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "nl": "Leverancier weergeven",
        "pt-BR": "Exibir fornecedor",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": {
        "de": "Foto-Zoom zulassen",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fr": "Activer le zoom d'image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "nl": "Inzoomen op afbeelding inschakelen",
        "pt-BR": "Ativar o zoom da imagem",
        "zh-CN": "启用图片缩放",
        "zh-TW": "啟用圖片縮放"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fr": "Afficher le bouton de passage à la caisse dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "ダイナミックチェックアウトボタンを表示する",
        "nl": "Dynamische kassaknop weergeven",
        "pt-BR": "Exibir botão dinâmico de finalização da compra",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく] (https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá seu método de pagamento preferido dentre os disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    }
  ]
}
{% endschema %}
